*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'alata',sans-serif;
  text-decoration: none;
  outline: none;
}
body{
  height: 100vh;
}
::-webkit-scrollbar{
  display: none;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #293c50;
  background: #fff;
  display: grid;
  place-items: center;
  font-size: 45px;
  z-index: 1000;
}
.loader i{
  animation: rot 2s ease-in-out infinite;
}
@keyframes rot{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/* top navigation */
.nav{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  -webkit-display:flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  z-index: 5;
}
.nav .nav-btn{
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav .nav-btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  transform: translateY(-6px);
  background: #293c50;
}
.nav .nav-btn div{
  width: 100%;
  height: 2px;
  background: #293c50;
}
.nav .nav-btn:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  transform: translateY(6px);
  background: #293c50;
}
.nav #filter{
  padding: 4px 12px;
  width: 150px;
  border: none;
  border: 1px solid #293c50;
  border-radius: 35px;
}

/* back page (glass) */
.back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 7;
  background: rgba(0,0,0,0.6);
  display: none;
  transition: 0.2s;
}
.back.dr{
  display: block;
}

/* sidebar menu */
 .sidebar{
  position: fixed;
  content: '';
  top: 0;
  left: -100%;
  width: 260px;
  height: 100vh;
  background: #fff;
  z-index: 10;
  padding-bottom: 10px;
  transition: 0.3s ease;
  box-shadow: 2px 0 3px rgba(0,0,0,0.1);
  overflow: auto;
}
 .sidebar.act{
  left: 0;
}
.sidebar .title {
  width: 100%;
  padding: 10px 20px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.sidebar .title div{
  display: flex;
  width: 90px;
  justify-content: space-between;
}
/* sidebar chang mode button */
.sidebar .mode-btn{
  -webkit-appearance:none;
  appearance: none;
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid #293c50;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}
.sidebar .mode-btn:before{
  position: absolute;
  content:'';
  top:-3px;
  left: -3px;
  width: 22px;
  height: 22px;
  background: #293c50;
  border-radius: 50%;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
  transition: 0.3s;
  z-index: 2;
}
.sidebar .mode-btn:after{
  position:absolute;
  content: '🌛';
  top: -1px;
  right: 0;
  font-size: 12px;
  z-index: 1;
  transition: 0.3s;
}
.sidebar .mode-btn:checked{
  background: #293c50;
}
.sidebar .mode-btn:checked:before{
  left: 17px;
}
.sidebar .mode-btn:checked:after{
  right: 21px;
  content: '🌞';
}
.sidebar .title #close-nav{
  font-size: 30px;
  color: #adadad;
}
.sidebar ul{
  margin-bottom: 30px;
}
.sidebar ul li a{
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #293c50;
  position: relative;
}
.sidebar ul li i{
  width: 30px;
  font-size: 18px;
}
.sidebar ul li a:before{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%,-50%);
  background: #eee;
  z-index: -1;
  transition: 0.5s;
  border-radius: 50%;
  opacity: 0;
}
.sidebar ul li a:hover:before{
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 1;
}
.sidebar h4{
  color: #293c50;
  padding: 10px 0;
  width: 80%;
  margin: 0 10%;
  border-bottom: 1px solid #293c50;
}
.sidebar .social{
  width: 100%;
  padding: 20px 15px;
}
.sidebar .social a{
  display: block;
  width: 100%;
  padding: 10px;
  color: #293c50;
}

.sidebar .social a i{
  width: 30px;
  font-size: 20px;
}
/* end all menu */

/* main container */
.container{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  padding-top: 65px;
  overflow: auto;
}
.container .bar{
  width: 100%;
  padding: 10px 5px;
  display: flex;
  -webkit-display:flex;
  -moz-display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
.container .bar:nth-child(1){
  animation-delay: 3.3s;
}
.container .bar:nth-child(2){
  animation-delay: 3.5s;
}
.container .bar:nth-child(3){
  animation-delay: 3.7s;
}
.container .bar:nth-child(4){
  animation-delay: 4s;
}
.container .bar:nth-child(5){
  animation-delay: 4.3s;
}
.container .bar:nth-child(6){
  animation-delay: 4.6s;
}
.container .bar:nth-child(7){
  animation-delay: 5s;
}
.container .bar:nth-child(8){
  animation-delay: 5.3s;
}
.container .bar:nth-child(9){
  animation-delay: 5.6s;
}
.container .bar .box{
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 10px 0;
  border: 3px solid #19f;
  background: #19f;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  margin: 0px 10px;
  box-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.2);
}
.container .bar .box:hover{
  border-radius: 50%;
  transition: 0.3s;
}
.container .bar .box i{
  font-size: 25px;
  margin-bottom: 5px;
}
.container .bar .box p{
  font-size: 13px;
  user-select: none;
}

.container .bar .google{
  background: #2fa059;
  border-color: #2fa059;
  color: #fff;
}
.container .bar .youtube{
  color: #fff;
  background: red;
  border-color: red;
}
.container .bar .linkedin,.container .bar .telegram{
  color: #fff;
  background: #39c;
  border-color: #39c;
}
.container .bar .facebook{
  background: #1876f3;
  border-color: #1876f3;
  color: #fff;
}
.container .bar .yahoo{
  color:#fff;
  background: #8249e9;
  border-color: #8249e9;
}
.container .bar .instagram{
  color: #fff;
  border-color: #f4254e;
  background: linear-gradient(150deg,#9a33e3,tomato,red);
}

.container .bar .twitter{
  color: #fff;
  background:#4899ea;
  border-color: #4899ea;
}
.container .bar .google-plus,.container .bar .pintrest{
  background: #dd1212;
  color: #fff;
  border-color: #dd1212;
}
.container .bar .sololearn{
  background: #4c668b;
  color: #fff;
  border-color: #4c668b;
}
.container .bar .amazon{
  background: linear-gradient(100deg,#4c668b,orange);
  color: #fff;
  border-color: #4c668b;
}
.container .bar .dribbble{
  background: #eee;
  color: #333;
  border-color: #333;
}
.container .bar .dropbox{
  background: #393692;
  color: #fff;
  border-color: #393692;
}
.container .bar .gmail{
  background: red;
  color: #fff;
  border-color: red;
}
.container .bar .blogger{
  background: orange;
  color: #fff;
  border-color: orange;
}
.container .bar .snapchat{
  background: #f5e650;
  color: #fff;
  border-color: #f5e650;
}
.container .bar .tiktok{
  background: #000;
  color: #fff;
  border-color: #000;
}
.container .bar .tumblr{
  background:#3d4a53;
  color: #fff;
  border-color: #3d4a53;
}
.container .bar .wikipedia{
  background: #333;
  color: #fff;
  border-color: #333;
}
.container .bar .wordpress{
  background: #3495ca;
  color: #fff;
  border-color: #3495ca;
}
.container .bar .aliexpress{
  background: #e34a31;
  color: #fff;
  border-color: #e34a31;
}
.container .bar .soundcloud{
  background: tomato;
  color: #fff;
  border-color: tomato;
}
.container .bar .netflix{
  background: #333;
  color: red;
  border-color: #333;
}
.container .bar .office{
  background: tomato;
  color: #fff;
  border-color: tomato;
}
.container .bar .yandex{
  background: #f14527;
  color: #fff;
  border-color: #f14527;
}
/* preview page */
.preview{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  transition: 0.3s ease;
  z-index: 6;
}
.preview.view{
  right: 0;
}
.preview div{
  width: 100%;
  padding: 8px 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
.preview div i{
  font-size: 24px;
}
.preview div p{
  color: #adadad;
}
.preview .iframe{
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
}

/* about */
.about{
  position: fixed;
  top: 102%;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 15px;
  padding-top: 10px;
  border-radius: 20px 20px 0 0;
  background: #fff;
  z-index: 8;
  transition: 0.3s ease;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.2);
}
.about.up{
  top: 100px;
}
.about .up-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
}
.about .up-bar div{
  position: relative;
  width: 20px;
}
.about .up-bar div:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 1.5px;
  background: #293c50;
  transform: rotate(45deg);
}
.about .up-bar div:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 1.5px;
  background: #293c50;
  transform: rotate(-45deg);
}
.about .text{
  width: 100%;
  padding: 30px 25px;
  padding-top: 50px;
  text-align: center;
}
.about .text p{
  font-size: 15px;
}
.about .text p a{
  color: #adadad;
}
/* dark mode */
.dark{
  background: #293c50;
  color: #fff;
}
.dark .nav-btn:before,.dark .nav-btn div,.dark .nav-btn:after{
  background: #fff;
}
.dark .mode-btn,.dark .mode-btn:before{
  border-color: #fff;
  background:#fff;
}
.dark.sidebar ul li a{
  color: #fff;
}
.dark.sidebar ul li a:before{
  background: #fff;
}
.dark.sidebar ul li a:hover{
  color: #333;
}
.dark.sidebar h4{
  color: #fff;
  border-color: #fff;
}
.dark.sidebar .social a{
  color: #fff;
}
.dark.preview i{
  color: #fff;
}
.dark.about{
  border-top: 1px solid #fff;
}
.dark.about .up-bar div:before,.dark.about .up-bar div:after{
  background: #fff;
}